<div class="radio-stations-left-panel">
  <div class="top-row mat-elevation-z8">
    @if (buttons(); as buttonsList) {
      <div class="top-row-item">
        <label>SABA Buttons:</label>
        <mat-radio-group aria-label="SABA Buttons" class="radio-buttons" [(ngModel)]="selectedButton">
          @for (button of buttonsList; track button.button) {
            <mat-radio-button [value]="button.button" [disabled]="button.button === 1">{{ button.buttonLabel }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
    }
  </div>

  <table class="mat-elevation-z8" title="SABA channels" cdkDropList (cdkDropListDropped)="sabaChannelDrop($event)"
         #channels="cdkDropList" [cdkDropListConnectedTo]="[stations]">
    <caption>SABA channels:</caption>
    @for (stationFrequency of sabaStationsFrequenciesList(); track stationFrequency) {
      <tr cdkDrag>
        <td style="width: 60px;">{{ stationFrequency }} MHz</td>
        <td>
          <app-saba-radio-channel-info [radioChannel]="stationFrequency | radioChannel: sabaRadioChannels()"
                                       (savedRadioChannel)="saveRadioUrl($event)"></app-saba-radio-channel-info>
        </td>
      </tr>
    }
  </table>
</div>
<div class="radio-stations-right-panel">
  <div class="top-row mat-elevation-z8">
    @if (loadingCountries()) {
      <div class="top-row-item">
        <mat-spinner diameter="32"></mat-spinner>
      </div>
    } @else {
      <div class="top-row-item">
        <mat-form-field>
          <mat-select placeholder="Country" [(ngModel)]="selectedCountry">
            <mat-select-trigger>
              @if (selectedCountry(); as sc) {
                <div class="country-item">
                  <img [src]="selectedCountryFlag()" [alt]="sc" class="flag-image" />
                  {{ sc.country }}
                </div>
              }
            </mat-select-trigger>
            @if (countries(); as countriesList) {
              @for (country of countriesList; track country.country) {
                <mat-option [value]="country">
                  <div class="country-item">
                    <img [src]="country.flagImageUrl" [alt]="country.country" class="flag-image" />
                    {{ country.country }}
                  </div>
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      </div>
    }
    @if (selectedCountry()) {
      @if (countryCacheStatus(); as cacheStatus) {
        @if (cacheStatus.totalStations === 0) {
          <div class="top-row-item">
            <button mat-flat-button (click)="startToCacheStations()">Start to cache stations
            </button>
          </div>
        } @else {
          @if (cacheStatus.totalStations === cacheStatus.processedCount) {
            <div class="top-row-item">
              {{ cacheStatus.totalStations }} radio stations
            </div>
          } @else {
            <div class="top-row-item">
              Caching:
              <mat-progress-bar mode="determinate" [value]="(100*cacheStatus.processedCount/cacheStatus.totalStations)"
                                style="width: 150px;"></mat-progress-bar>
              {{ cacheStatus.processedCount }} of {{ cacheStatus.totalStations }}
            </div>
          }
        }
      }
    }
    <div class="top-row-item">
      <button matFab (click)="clearCache()" matTooltip="Clear cache">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <table class="mat-elevation-z8" cdkDropList (cdkDropListDropped)="radioStationDrop($event)"
         #stations="cdkDropList" [cdkDropListConnectedTo]="[channels]">
    <caption>Radio channels:</caption>
    @for (stationInfo of countryRadioStations(); track (stationInfo.detailsUrl)) {
      <tr cdkDrag [cdkDragData]="stationInfo" [cdkDragDisabled]="(stationInfo | radioInfoInUse: sabaRadioChannels())">
        <td>
          <app-radio-station-info [station]="stationInfo"></app-radio-station-info>
        </td>
      </tr>
    }
  </table>

</div>


