:host {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 20px;

  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .top-row-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .radio-buttons {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: center;
    gap: 10px;
  }

  mat-form-field {
    width: 100%;
    margin: 5px;
  }

  .radio-stations-left-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .radio-stations-right-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.country-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.flag-image {
  width: 24px;
  height: 24px;
}

.cdk-drag-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-disabled {
  color: darkgrey;
  cursor: not-allowed;
  user-select: none;
}

