<div class="radio-stations-left-panel">
  <div class="top-row mat-elevation-z8">
    @if (buttons(); as buttonsList) {
      <div class="top-row-item">
        <label>SABA Buttons:</label>
        <mat-radio-group aria-label="SABA Buttons" class="radio-buttons" [(ngModel)]="selectedButton">
          @for (button of buttonsList; track button.button) {
            <mat-radio-button [value]="button.button" [disabled]="button.button === 1">{{ button.buttonLabel }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
    }
  </div>

  <table class="mat-elevation-z8" title="SABA channels" cdkDropList (cdkDropListDropped)="sabaChannelDrop($event)"
         #channels="cdkDropList" [cdkDropListConnectedTo]="[stations]">
    <caption>SABA channels:</caption>
    @for (stationFrequency of sabaStationsFrequenciesList(); track stationFrequency) {
      <tr cdkDrag>
        <td style="width: 60px;">{{ stationFrequency }} MHz</td>
        <td>
          <app-saba-radio-channel-info [radioChannel]="stationFrequency | radioChannel: sabaRadioChannels()"
                                       (savedRadioChannel)="saveRadioUrl($event)"></app-saba-radio-channel-info>
        </td>
      </tr>
    }
  </table>
</div>
<div class="radio-stations-right-panel">
  <div class="top-row mat-elevation-z8">
    <div class="top-row-item">
      <mat-form-field>
        <mat-select placeholder="Country">
          <!--        [(ngModel)]="selectedRegion"-->
          <!--        @for (region of regionsList; track region) {-->
          <!--          <mat-option [value]="region">{{ region }}</mat-option>-->
          <!--          <mat-divider></mat-divider>-->
          <!--        }-->
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <table class="mat-elevation-z8" cdkDropList (cdkDropListDropped)="radioStationDrop($event)"
         #stations="cdkDropList" [cdkDropListConnectedTo]="[channels]">
    <caption>Radio channels:</caption>
    <!--      @for (stationInfo of regionStationsList(); track (stationInfo.name + stationInfo.frequency)) {-->
    <!--        <tr cdkDrag [cdkDragData]="stationInfo" [cdkDragDisabled]="(stationInfo | radioInfoInUse: sabaRadioChannels())">-->
    <!--          <td>{{ stationInfo.frequency }} MHz</td>-->
    <!--          <td>-->
    <!--            {{ stationInfo.name }}-->
    <!--          </td>-->
    <!--          <td>-->
    <!--            <a [href]="stationInfo.stationUrl" target="_blank">Station info</a>-->
    <!--          </td>-->
    <!--        </tr>-->
    <!--      }-->
  </table>
</div>


