[Unit]
Description=Spotify Radio ASP.NET service
[Service]
Type=simple
ExecStart=/home/pi/projects/spotify-radio-service/RadioApp
WorkingDirectory=/home/pi/projects/spotify-radio-service
User=pi
Group=pi
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target